
.buttonContainer {
 display: absolute;
 /* justify-self: flex-start;    */
}

.selectButton {
    background-color: transparent;
    width: fit-content;
    color: lightgrey;
    padding: 8px;
    font-size: 1rem;
    border: 1px solid rgb(176, 171, 171);
    border-radius: 2px;
}

