.japaneseWord {
  /* display: flex; */
  justify-content: space-between;
  /* gap: 15px; */
  margin: 10px 0;
  padding: 5px 8px;
  /* border: 1px solid lightgray; */
  border-radius: 5px;
  box-shadow: 0 0 5px lightgrey;
}

.japanese {
  /* justify-self: flex-start; */
  /* padding: 10px; */
  color: rgb(208, 206, 206);
}

.furigana {
  padding: 30px;
  color: rgb(182, 179, 179);
  font-size: 0.9rem;
}
