.headline-container {
}

.headline {
  display: flex;
  margin: 10px 0;
  padding: 10px;
  /* border: 1px solid rgb(119, 242, 232); */
  border-radius: 5px;
  font-size: 1.1rem;
}

.loading_container {
  margin: 50px 0 100px 0;
  color: rgba(234, 231, 231, 0.447);
  font-size: 1.5rem;
  display: flex;
  justify-content: center;
}

.loading {
  /* opacity: 1; */
  /* transition: opacity 2s; */
  /* animation-name: cycleOpacity; */
  /* animation-duration: 2s; */
  /* animation-iteration-count: infinite; */
}

.LoadingDots {
  font-size: 2rem;
  display: inline;
}

.loadingDotsOne {
  animation: cycleDots 1s 0s infinite;
  display: inline-block;
}

.loadingDotsTwo {
  animation: cycleDots 1s 0.33s infinite;
  display: inline-block;
}

.loadingDotsThree {
  animation: cycleDots 1s 0.66s infinite;
  display: inline-block;
}

@keyframes cycleDots {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-4px);
  }
  100% {
    transform: translateY(0px);
  }
}

.headlineContainer {
  box-shadow: 0 0 5px lightslategray;
  border-radius: 6px;
  margin: 15px 0px;
  padding: 10px;
}

.VDHContainer {
  box-shadow: 0 0 5px lightslategray;
  border-radius: 6px;
  margin: 15px 0px;
  padding: 10px;
  background-color: rgba(211, 211, 218, 0.447);
}

/* .headlineContainer:nth-child(odd) {
    background-color: rgb(66, 54, 77);
    border-radius: 5px;
    font-size: 1.5rem;
    
}
.headlineContainer:nth-child(even) {
    background-color: rgb(77, 54, 54);
    border-radius: 5px;
    font-size: 1.5rem;
    
} */
