
.headline-container {

}

.headline {
    display: flex;
    margin: 10px 0;
    padding: 10px;
    /* border: 1px solid rgb(119, 242, 232); */
    border-radius: 5px;
    font-size: 1.1rem;
}




.headlineContainer {
    box-shadow: 0 0 5px lightslategray;
    border-radius: 6px;
    margin: 20px;
    padding: 10px;
}


/* .headlineContainer:nth-child(odd) {
    background-color: rgb(66, 54, 77);
    border-radius: 5px;
    font-size: 1.5rem;
    
}
.headlineContainer:nth-child(even) {
    background-color: rgb(77, 54, 54);
    border-radius: 5px;
    font-size: 1.5rem;
    
} */